.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
    height: 100px;
}

.navItems > ul {
    display: flex;
    padding: 10px;
    list-style-type: none;
}

.navItems >ul >li {
    padding: 10px;
}

.body-res-containers {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.res-container {
    width: 200px;
    padding: 10px;
}
.res-container:hover {
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
}
.res-card {
    padding: 5px;
    background-color: #f0f0f0;
    .ratings {
        display: flex;
        .rating-value {
            padding-right:10px ;
        }
    }
}
.res-image {
    width: 100%;
}

.filter-btn {
    cursor: pointer;
}


.skeleton-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.skeleton-card {
    width: 200px;
    height: 400px;
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
}
.login {
    padding: 0 10px;
}
.top-container{
    padding: 10px;
    display: flex;
}
.search-container {
    padding-right: 20px;
}